@import '../sidenav/sidenav.scss';

$topMargin: 4.5%;

div[layout = "row"]{
    margin-top: $topMargin;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    
    
}
md-content[id="content"]{
    margin-left: 3%;
    height: 90%;
    width: 100%;
}

