@import 'core/pageContent/pageContent.scss';
@import 'core/newsCard/newsCard.scss';
@import 'core/topbar/topbar.scss';
// indigo :default theme #3F51B5
html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
