div[class = "bh-card"]{
    width: 140%;
}

md-card{
    border-radius: 3%;
    margin: 1%;
    margin-left: 1%;
}

md-card md-card-title {
    padding-top: 0px;
}

span[layout="row"][class="md-subhead"]{
    white-space: nowrap;
    text-overflow: ellipsis;
}