$top: 64px;
$topMargin:4.5%;
$sidenavTopMargin: 100%;
$sidenavList:80%;
// md-sidenav md-content md-button {
//  margin-top: 5dp;   
// }
 md-sidenav[role="main"]{
     height: 100%;
     
     margin-right: 0;
     
     position: static;
     top: $topMargin;
     left: 0;
 };
  md-sidenav.sidenav{
      height: 80%;
  };
 
md-list[layout="column"][layout-align="center center"]{
     margin-top: $topMargin;
 };

