$top: 64px;
$topMargin:4.5%;
$sidenavTopMargin: 100%;
$sidenavList:80%;
$marginButton: 25px;
// md-sidenav md-content md-button {
//  margin-top: 5dp;   
// }
 md-sidenav.main{
     height: 95%;
     
     margin-right: 0;
     
     position: static;
     margin-top: 0;
     left: 0;
     overflow: auto;
 };
   md-sidenav.header{
      height: 90%;
      margin-top: $top;
  };
  md-content.sidenav{
      height: 25%;
      overflow-y: auto;
      margin-bottom: $marginButton;
  };
 
md-list.list{
     margin-top: 20;
     width: 100%;
 };

