<!--TODO: send information on server in action-->
<bh-topbar></bh-topbar>
<section>
    <h1 class="md-headline">Hello user!</h1>
    <form name="login">
        <md-input-container class="md-block">
            <label>Your email or login</label>
            <input ng-model="vm.login" required type="text" name="your email" />
        </md-input-container>
        <br/>
        <md-input-container class="md-block">
            <label>Your password</label>
            <input ng-model="vm.password" required type="password" name="your password" />
        </md-input-container>
        <br/>
        <md-button ng-click="vm.submit()" class="md-raised md-primary">Enter</md-button>
        <h3>you don't have accout?
            <a ng-href="/register">Create account</a>
        </h3>
    </form>
</section>